BaseRohmForm/Connected Services/iLibraryService/ServiceiLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webserv.thematrix.net/iLibraryService/ServiceiLibrary.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="MachineOnlineState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="online" type="q1:MachineOnline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineOnlineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="MachineOnlineStateResult" nillable="true" type="q2:MachineOnlineStateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachineState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="state" type="q3:MachineProcessingState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateMachineStateResult" nillable="true" type="q4:UpdateMachineStateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetupLotResult" nillable="true" type="q5:SetupLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotNoCheckLicenser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotNoCheckLicenserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetupLotNoCheckLicenserResult" nillable="true" type="q6:SetupLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotCustomMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="runMode" type="q7:RunMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotCustomModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetupLotCustomModeResult" nillable="true" type="q8:SetupLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotCustomModeNoCheckLicenser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="runMode" type="q9:RunMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotCustomModeNoCheckLicenserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetupLotCustomModeNoCheckLicenserResult" nillable="true" type="q10:SetupLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotOven">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcsPro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotOvenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetupLotOvenResult" nillable="true" type="q11:SetupLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="StartLotResult" nillable="true" type="q12:StartLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotCustomMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipe" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="runMode" type="q13:RunMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotCustomModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="StartLotCustomModeResult" nillable="true" type="q14:StartLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotOven">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcsPro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotOvenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="StartLotOvenResult" nillable="true" type="q15:StartLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="OnlineStartResult" nillable="true" type="q16:OnlineStartResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="OnlineEndResult" nillable="true" type="q17:OnlineEndResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirstinspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="judge" type="q18:Judge" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirstinspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateFirstinspectionResult" nillable="true" type="q19:UpdateFirstinspectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EndLotResult" nillable="true" type="q20:EndLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotNoCheckLicenser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotNoCheckLicenserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EndLotNoCheckLicenserResult" nillable="true" type="q21:EndLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotOven">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcsPro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotOvenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EndLotOvenResult" nillable="true" type="q22:EndLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinalinspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="judge" type="q23:Judge" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinalinspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateFinalinspectionResult" nillable="true" type="q24:UpdateFinalinspectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AlarmNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="alarm" type="q25:AlarmState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="MachineAlarmResult" nillable="true" type="q26:MachineAlarmResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CancelLotResult" nillable="true" type="q27:CancelLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reinput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="endMode" type="q28:EndMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ReinputResult" nillable="true" type="q29:ReinputResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputAndHoldLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="endMode" type="q30:EndMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputAndHoldLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ReinputAndHoldLotResult" nillable="true" type="q31:ReinputResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputOven">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcsPro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNoApcs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="endMode" type="q32:EndMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputOvenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ReinputOvenResult" nillable="true" type="q33:ReinputResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLotApcsProManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="package" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLotApcsProManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CheckLotApcsProManualResult" nillable="true" type="q34:CheckLotApcsProResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IRePortCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IRePortCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IRePortCheckResult" nillable="true" type="tns:iReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="iReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MCNo" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="iReportResponse" nillable="true" type="tns:iReportResponse" />
  <xs:element name="GetCarrierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrierInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCarrierInfoResult" nillable="true" type="q35:CarrierInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotPhase2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="licenser" type="q36:Licenser" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="carrierInfo" nillable="true" type="q37:CarrierInfo" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="specialParametersEventArgs" nillable="true" type="q38:SetupLotSpecialParametersEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotPhase2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetupLotPhase2Result" nillable="true" type="q39:SetupLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotPhase2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipe" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="carrierInfo" nillable="true" type="q40:CarrierInfo" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="specialParametersEventArgs" nillable="true" type="q41:StartLotSpecialParametersEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotPhase2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="StartLotPhase2Result" nillable="true" type="q42:StartLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotPhase2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="licenser" type="q43:Licenser" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="carrierInfo" nillable="true" type="q44:CarrierInfo" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="specialParametersEventArgs" nillable="true" type="q45:EndLotSpecialParametersEventArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotPhase2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EndLotPhase2Result" nillable="true" type="q46:EndLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>