BaseRohmForm/Connected Services/iLibraryService/ServiceiLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webserv.thematrix.net/iLibraryService/ServiceiLibrary.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="MachineOnlineState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="online" type="q1:MachineOnline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineOnlineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="MachineOnlineStateResult" nillable="true" type="q2:MachineOnlineStateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachineState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="state" type="q3:MachineProcessingState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateMachineStateResult" nillable="true" type="q4:UpdateMachineStateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetupLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetupLotResult" nillable="true" type="q5:SetupLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="StartLotResult" nillable="true" type="q6:StartLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirstinspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="judge" type="q7:Judge" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirstinspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateFirstinspectionResult" nillable="true" type="q8:UpdateFirstinspectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EndLotResult" nillable="true" type="q9:EndLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinalinspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="judge" type="q10:Judge" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinalinspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateFinalinspectionResult" nillable="true" type="q11:UpdateFinalinspectionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AlarmNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="alarm" type="q12:AlarmState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="MachineAlarmResult" nillable="true" type="q13:MachineAlarmResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CancelLotResult" nillable="true" type="q14:CancelLotResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reinput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ReinputResult" nillable="true" type="q15:ReinputResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputAndHoldLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mcNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="good" type="xs:int" />
        <xs:element minOccurs="0" name="ng" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinputAndHoldLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ReinputAndHoldLotResult" nillable="true" type="q16:ReinputResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>